.question {
    width: 230px;
    height: 220px;
    padding: 5px;
    background-color: #33FF9C;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 5px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 5px 10px 8px 10px #888888;
    border-radius: 5px;
}

.question:hover,
.question:active {
    background-color: #1bdf56;
}