
.view-questions{
    width: 100%;
    height: 100%;
    /* margin-left: 10%; */
    background-color: white;
}
.questions {
    display: flex;
    flex-flow: row wrap ;
    width: 100%;
    
}

.question-item {
    display: flex;
    flex-flow: row wrap ;
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (min-width: 800px) and (min-height: 700px) {
    .question-item {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1500px) and (min-height: 1401px) {
    .question-item {
        width: 1400px;
        height: 1300px;
    }
}

@media (min-width: 1500px) and (min-height: 700px) {
    .question-item {
        width: 1400px;
        height: 600px;
    }
}


